/* ------------------------------ sign up form section  */
.form-hero-img img {
    width: 100%;
    height: 92vh;
    position: relative;
    background-repeat: no-repeat;
}
.form-blur {
    background-color: rgba(225, 220, 220, 0.4);
    border-radius: 20px;
    backdrop-filter: blur(2px);
}
.signup-form-section {
    position: absolute;
    top: 10vh;
    left: 31vh;
    padding: 10%;
}
.signup-form-section h3 {
    font-size: 1rem;
}
.signup-container {
    width: 100vh;
    position: absolute;
    left: 24%;
    top: 11%;
}

#id_username, #id_email, #id_first_name, #id_password1, #id_password2{
    border-radius: 10px;
}
li {
    font-size: 1rem;
}
.form-group-logout small ul li{
    font-size: 0.6rem;
    
}
.text-center a li {
    background-image: linear-gradient(45deg, #782b25 0%, #a23930 0%, #872b20 21%, #d9402f 52%, #61111f 78%, #6a1818 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    text-decoration: none;
}
/* ---------------------------------login form section */
.login-form-hero-img img {
    width: 100%;
    height: 92vh;
    position: absolute;
    background-repeat: no-repeat;
}
.login-form-section {
    width: 100%;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
}
.p-5-login {
    position: relative;
    top: 10vh;
    left: 38vh;
    padding: 10%;
}
.form-group{
    padding: 3%;
}
.form-group{
    padding: 2%;
}
@media(max-width: 992px){
    .signup-container {
        left: 5%;  
    }
    .p-5-login{
        left: 31vh;
    }

}
@media(max-width: 440px){
    .signup-container {
        width: 59vh; 
        left: -3%;
    }
    .signup-form-section h3 {
    font-size: 1rem;
}
.form-blur h3 {
    font-size: 1rem;
}
.p-5-login {
    height: 42vh;
    left: 0vh;
}
.login-form-hero-img img {
    height: 62vh;
}
}
/* ----------------------------add item form */
.add-review {
    position: relative;
    left: -40vh;
    top: 30vh;
}
.add-item-form{
    top: 43vh;
    position: absolute;
    display: flex;
}
#id_name {
    color: red;
}