  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,100&display=swap');
  /* -----------------------------------------------Genereal styling */

      /* h2,h3 and texts across the site */
      h1, h2, h3, h4{
          background-image: linear-gradient(45deg, #782b25 0%, #a23930 0%, #872b20 21%, #d9402f 52%, #61111f 78%, #6a1818 100%);
          -webkit-background-clip: text;
          -moz-background-clip: text;
          -webkit-text-fill-color: transparent;
          -moz-text-fill-color:transparent;
          font-family: Lato, sans-serif;
          font-size: 2rem;
          text-transform: uppercase;
          font-weight: bold;
             }
      
      p {
          color: var(--font-color);
          font-family: Lato, sans-serif;
          font-weight: bold;
          font-size: 1rem;
          text-transform: math-auto;
      }
      /* buttons main style */
      button {
          border-radius: 20px;
          border-color: #872b20;
          cursor: pointer;
          outline: none;
          font-family: Lato, sans-serif;
          font-size: 1rem;
          padding: 1%;
          background-image: linear-gradient(45deg, #782b25 0%, #a23930 0%, #872b20 21%, #d9402f 52%, #61111f 78%, #6a1818 100%);
          -webkit-background-clip: text;
          -moz-background-clip: text;
          -webkit-text-fill-color: transparent;
          -moz-text-fill-color:transparent;
      
      }
      button a {
          text-decoration: none;
      }
      
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
  /* ----------------------------------------------Header, logo and nav bar */
  .navbar-area {
    background: var(--background-color);
  }
  .site-navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  a.site-logo {
    margin-left: -5%;
  }
  .site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  .site-navbar ul li a {
    color: var(--font-color);
    font-family: Lato, sans-serif;
    padding: 20px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
  }
  .logged-user {
    color: var(--font-color);
    font-family: Lato, sans-serif;
    padding-top: 1.5%;
    font-size: 1.5rem;
  }
  .site-navbar ul li a:hover {
    background-image: linear-gradient(45deg, #782b25 0%, #a23930 0%, #872b20 21%, #d9402f 52%, #61111f 78%, #6a1818 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
  }
    .nav-toggler {
        height: 39px;
        display: none;
      }
      .nav-toggler span, 
      .nav-toggler span:before, 
      .nav-toggler span:after {
        width: 28px;
        height: 3px;
        background-color: #424040;
        display: block;
        transition: .3s;
      }
      .nav-toggler span:before {
        content: '';
        transform: translateY(-9px);
      }
      .nav-toggler span:after {
        content: '';
        transform: translateY(6px);
      }
      .nav-toggler.toggler-open span {
        background-color: var(--toggle-background);
      }
      .nav-toggler.toggler-open span:before {
        transform: translateY(0px) rotate(45deg);
      }
      .nav-toggler.toggler-open span:after {
        transform: translateY(-3px) rotate(-45deg);
      } 
      /* mobile breakpoint start */
      @media screen and (max-width: 967px) {
       
        /* navbar css for mobile start */
        .nav-toggler{
          display: block;
        }
        .site-navbar {
          min-height: 60px;
        }
        .site-navbar ul {
          position: absolute;
          width: 100%;
          height: calc(100vh - 60px);
          z-index: 222;
          left: 0;
          top: 60px;
          flex-direction: column;
          align-items: center;
          background-image: linear-gradient( #782b25 0%, #a23930 0%, #872b20 21%, #782b25 50%);
          max-height: 0;
          overflow: hidden;
          transition: .3s;
        }
        .site-navbar ul li {
          width: 100%;
          text-align: center;
        }
        .site-navbar ul li a {
          padding: 25px;
          color: #c8cace;
        }
        .site-navbar ul.open {
          max-height: 100vh;
          overflow: visible;
        }
        .intro-area h2 {
          font-size: 36px;
          margin-bottom: 15px;
        }  
        
      }
      @media screen and (max-width: 375px) {
        a.site-logo {
            margin-right: 41% ;
        }
      }
/* ---------------------------Hero section */
.orders-container {
    position: absolute;
    top: 6%;
    left: 6%;
    height: 70%;
    width: 85%;
}
.hero-text {
    position: relative;
    text-align: center;
    justify-content: center;
    display: flex;
}
.hero-img img {
    width: 100%;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
}

/* ---------------------------------------About preview */
.about-preview {
    height: 32vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.about-img {
    display: flex;
    justify-content: center;
}
.about-img img {
    height: 45vh;
    background-repeat: no-repeat;
    position: inherit;
    margin: 3%;
}

.about-content {
    display: block;
    position: absolute;
    margin: 4%;
    box-shadow: inset 0px 0px 6px 6px rgba(82, 80, 80, 0.12);
    border-radius: 6px;
}
.about-content h2, p {
    text-align: center;
    padding: 1%;
}
@media screen and (max-width: 950px) {
    .about-img img {
        height: 35vh ;
    }
        
}
@media screen and (max-width: 450px) {
    .about-img img {
        height: 18vh;
    }
    .about-preview {
        height: 44vh;
    }
        
}

/* ----------------------------------------------team section */

.experience-info{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
   
}
.experience-container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.experience-container .menu-card {
    position: relative;
    width: 30vh;
    height: 450px;
    margin: 10px;
    padding: 15px;
    display: block;
    box-shadow: inset 0px 0px 6px 6px rgba(70, 70, 70, 0.12);
    border-radius: 6px;
}
.experience-container .menu-card h3 {
    font-size: 1.3rem;
}
.experience-container .menu-card .imgBx {
    max-width: 150px;
    flex: 0 0 150px ;
}
.experience-container .menu-card .imgBx img {
    max-width: 10vh;
   
}
    .experience-container .menu-card  {
        flex-direction: column;
        max-width: 350px;
    }
    @media(max-width: 991px){
        .experience-container {
            flex-direction: column;
        }
    }
    @media(max-width: 991px){
        .experience-container .menu-card  {
            width: auto;
        }
        .experience-container .menu-card .imgBx {
            max-width: 8vh;
        }
    }
  

/* -----------------------reviews section */
.review {
    height: 50vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    
}
.review-content {
    display: block;
    margin: 4%;
    box-shadow: inset 0px 0px 6px 6px rgba(82, 80, 80, 0.12);
    border-radius: 6px;
    padding: 3%;
}
.review-content  h2, p {
    text-align: center;
}
@media screen and (max-width: 450px) {
    .review {
        height: 51vh;
    }
}
/* ---------------------------------orders status */
.orders-img img {
    width: 100%;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
}
.text-center {
    justify-content: space-evenly;
}
.orders {
    padding-top: 10%;
}
/* ------------------------------ sign up form section  */
.form-hero-img img {
    width: 100%;
    height: 92vh;
    position: relative;
    background-repeat: no-repeat;
}
.form-blur {
    background-color: rgba(225, 220, 220, 0.4);
    border-radius: 20px;
    backdrop-filter: blur(2px);
}
.signup-form-section {
    top: 17%;
    position: absolute;
    left: 30%;
}

.signup-container {
    width: 100vh;
    position: absolute;
    left: 24%;
    top: 11%;
}

#id_username, #id_email, #id_first_name, #id_password1, #id_password2{
    border-radius: 10px;
}
.form-section p {
    font-size: 4rem;
}
li {
    font-size: 1rem;
}
.login-form-section {
    top: 17%;
    position: absolute;
    left: 22%;
}
.p-5-login {
    position: relative;
    width: 100vh;
    height: 60vh;
    padding: 10%;
}
.form-group{
    padding: 3%;
}
.form-group{
    padding: 2%;
}
@media(max-width: 992px){
    .signup-container {
        left: 5%;  
    }
    .login-form-section{
        left: 7%;
    }

}
@media(max-width: 400px){
    .signup-container {
        width: 53vh; 
    }
    .login-form-section{
        left: 0%;
        width: 40vh;
    }

}
/* -------------------------orders page */
.orders-container-fluid{
padding: 9%;
}
.colum {
    display: flex;
}

/* -----------------------------------susscess page */
.susscess-msg, p {
    top: 30%;
    display: flex;
}
#cancel-text {
    top: 50%;
    padding: 16%;
}
/* ----------------------------add item form */
.add-review {
    position: relative;
    left: -40vh;
    top: 30vh;
}
.add-item-form{
    top: 43vh;
    position: absolute;
    display: flex;
}
#id_name {
    color: red;
}
/* --------------------------------------------footer */
.footer__container {
    background-color: var(--background-color);
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}
.footer__links h2{
    margin-bottom: 16px;
    font-size: 1.4rem;
    background-image: linear-gradient(to top, #782b25 0%, #a23930 0%, #872b20 21%, #d9402f 52%, #61111f 78%, #6a1818 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

.footer__link-wrap{
    display: flex;

}
.footer__items {
    display: flex;
flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}
.footer__links a {
    color: var(--font-color) ;
    text-decoration: none;
    margin-bottom: 0.5rem;
}
.logo-footer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 3%;
}

.crud td, tr {
    color: var(--font-color);
    padding: 1%; 
    font-size: 1rem;
}
@media screen and (max-width: 967px) {
    .footer__link-wrap{
        display: table-column;
        font-size: 1rem;
    }
 
}




