  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,100&display=swap');
  /* -----------------------------------------------Genereal styling */

      /* h2,h3 and texts across the site */
      h1, h2, h3, h4{
          background-image: linear-gradient(45deg, #782b25 0%, #a23930 0%, #872b20 21%, #d9402f 52%, #61111f 78%, #6a1818 100%);
          -webkit-background-clip: text;
          -moz-background-clip: text;
          -webkit-text-fill-color: transparent;
          -moz-text-fill-color:transparent;
          font-family: Lato, sans-serif;
          font-size: 2rem;
          text-transform: capitalize;
          font-weight: bold;
             }
      
      p {
          color: var(--font-color);
          font-family: Lato, sans-serif;
          font-weight: bold;
          font-size: 1rem;
          text-transform: capitalize;
      }
      /* buttons main style */
      button {
          border-radius: 20px;
          border-color: #872b20;
          cursor: pointer;
          outline: none;
          font-family: Lato, sans-serif;
          font-size: 1rem;
          background-image: linear-gradient(45deg, #782b25 0%, #a23930 0%, #872b20 21%, #d9402f 52%, #61111f 78%, #6a1818 100%);
          -webkit-background-clip: text;
          -moz-background-clip: text;
          -webkit-text-fill-color: transparent;
          -moz-text-fill-color:transparent;
      
      }
      button a {
          text-decoration: none;
      }
      
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    }
  /* ----------------------------------------------Header, logo and nav bar */
  nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    position: absolute;
    z-index: 111;
    background-color:var(--background-color); 

    
    }
    .logo {
        position: relative;
    }
    
    .nav-items {
        display: flex;
        font-family: Lato, sans-serif;
        font-weight: 200;
    }
    .nav-items li a {
        text-decoration: none;
        margin: 0px 15px;
        font-size: 1.2rem;
        color: var(--font-color);
        cursor: pointer;
        letter-spacing: 4px ;
        text-transform: uppercase;
    }
    li {
        list-style: none;
        font-weight: 100;
        letter-spacing: 2px;
        font-size: 2rem;
    }
    .nav-items li:hover{
        background-image: linear-gradient(45deg, #782b25 0%, #a23930 0%, #872b20 21%, #d9402f 52%, #61111f 78%, #6a1818 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color:transparent;
    }

/* ---------------------------Hero section */
.hero-img img {
    width: 100%;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
}
.orders-img img {
    width: 100%;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
}
/* ---------------------------------orders status */
.orders-container {
    
    position: absolute;
    top: 6%;
    left: 6%;
    height: 70%;
    width: 85%;
}
.text-center {
    display: flex;
    justify-content: space-evenly;
}
/* ------------------------------ sign up form section  */
.form-section {
    top: 30%;
}
#id_username, #id_email, #id_first_name, #id_password1, #id_password2{
    border-radius: 10px;
}
.form-section p {
    font-size: 4rem;
}