.container-fluid {
    top: 5%;
    position: absolute;
}
.tittle {
    text-align: center;
    margin: 58px;
}
.pie-images {
    width: 300px;
    border-radius: 10% 5%;
    height: 200px;
}
.cake-images {
    width: 300px;
    border-radius: 10% 5%;
    height: 200px;
}
