
/* ---------------------------------------About preview */
.menu-preview {
    height: 58vh;
    width: 100%;
    top: 3vh;
    overflow: hidden;
    position: relative;
    
}
.menu-img {
    display: flex;
    justify-content: center;
}
.menu-img img {
    height: 80%;
    width: 80%;
    background-repeat: no-repeat;
    position: inherit;
    justify-content: center;
    margin: 0px 35px 0px 35px;
}

.menu-content {
    display: block;
    position: absolute;
    margin: 4%;
    padding-right: 40%;
}
/* --------------------------menu cards */
.container-fluid {
    top: 5%;
    position: absolute;
}
.tittle {
    text-align: center;
    margin: 58px;
}
.pie-images {
    width: 300px;
    border-radius: 2% 2%;
    height: 200px;
}
.cake-images {
    width: 300px;
    border-radius: 10% 5%;
    height: 200px;
}
 