<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <title>{% block tittle %} {{ name }} {% endblock %}</title>
    
</head>

<body>
  <!-- --------------------------navbar  -->
  <div class="navbar-area">
    <div class="nav-container">
      <nav class="site-navbar">
        <a href="index.html" class="site-logo"><img src="{% static 'images/oblivious-logo.jpg' %}" alt="image" class="logo-img" style="width: 110px; height: 100%;"></a>
        <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="donuts.html">donuts</a></li>
            <li><a href="pies.html">pies</a></li>
            <li><a href="signup.html">Signup</a></li>         
            <li><a href="login.html"><i class="fa fa-user"></i></a></li>
            <li><a href="order-list.html"><i class="fa fa-basket-shopping"></i><span id="trolley">0</span></a></li>
            <li class="logged-user">
                {% if user.is_authenticated %}
                
                    {{ user.username }}
                
                {% endif %} 
            </li>
            {% if user.is_authenticated %}
            <li><a href="logout.html"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
            {% else %}
            {% endif %} 
        </ul>
        <!-- nav-toggler for mobile version only -->
        <button class="nav-toggler">
          <span></span>
        </button>
      </nav>
    </div>
  </div>
 
<!-- -------------pie menu -->
<section class="pie-section">
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 text-center">
                <h1 class="tittle">Our Cakes</h1>
                <div class="row">
                    {% for cake in cakes %}
                    <div class="col-md-6 p-4">
                    <img src="{{ cake.p_image }}" alt="cake image" class="pie-images">
                    <h4 class="pt-3" id="pie-id{{ cake.id }}">
                        {{ cake.name }}
                    </h4>
                    <div class="form-check-inline">
                        <label for="form-check-inline">
                            <input  class="form-check-input" type="radio" value="{{ cake.price_m }}" name="pie-rad{{ cake.id }}" checked>
                            M: {{ cake.price_m }}
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label for="form-check-inline">
                            <input class="form-check-input" type="radio" value="{{ cake.price_l }}" name="pie-rad{{ cake.id }}"  checked>
                           L: {{ cake.price_l }}
                        </label>
                    </div>
                    <div>
                        <button class="btn mt-3" onclick="addPie('{{ cake.id }}')">Add to cart</button>
                    </div>
                   
                </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4 orders">
                <div class="bg-light p-4 rounded">
                <h3 class="text-center">Order list</h3>
                <ul id="p-cart" ></ul>
                <h4 class="text-right" id="p-total"> Total: 0 £</h4>
                <button><a href="order-list.html">Check out</a></button>
            </div>
        </div>
    </div>
</div>
</div>
    {% endblock %}
</section>
      

        
   
   

<script src="{% static 'javascript/orders.js' %}"></script>
<script src="{% static 'javascript/main.js' %}"></script>
</body>
</html>