<!DOCTYPE html>
<html lang="en">
<!-- {% load static %} -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet2" href="{% static 'css/colors.css' %}">
    <link rel="icon" sizes="100x100" type="image/x-icon" href="{% static 'images/oblivious-logo.jpg' %}">
    <title>HOME</title>
    
</head>
<body>
  <!-- --------------------------navbar  -->
  <div class="navbar-area">
    <div class="nav-container">
      <nav class="site-navbar">
        <a href="index.html" class="site-logo"><img src="{% static 'images/oblivious-logo.jpg' %}" alt="image" class="logo-img" style="width: 110px; height: 100%;"></a>
        <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="menu.html">menu</a></li>
            <li><a href="signup.html">Signup</a></li>         
            <li><a href="login.html"><i class="fa fa-user"></i>login</a></li>
            <li><a href="order-list.html"><span id="trolley">0</span>basket</a></li>
            <li class="logged-user">
                {% if user.is_authenticated %}
                
                 <li class="user-name">{{ user.username }}</li>  
                
                {% endif %} 
            </li>
            {% if user.is_authenticated %}
            <li><a href="logout.html"><i class="fa-solid fa-arrow-right-from-bracket"></i>logout</a></li>
            {% else %}
            {% endif %} 
        </ul>
        <!-- nav-toggler for mobile version only -->
        <button class="nav-toggler">
          <span></span>
        </button>
      </nav>
    </div>
  </div>
<!-- ------Hero section -->
<section>
    <!-- hero  image -->
    <div class="main-container">
        <div class="hero-img">
            <img src="{% static 'images/hero-img.jpg' %}" alt="bread image">
        </div>
        
    </div>
</section>
 
  <!-- ------about section -->
  <div class="about-preview">
    <div class="about-content">
    <h2>about us</h2>
    <p class="about-p">Oblivious bakery is a family owned business located in the heart of Dublin, 
        our specialty is homemade Cakes, Pies, and Donuts. The our real specialty is that by every order you place,
         you will get a complimentary mini pastry, you will be oblivious to what it is until you ceceive it.
    </p>
</div>
</div>
<!-- --------about section img -->
<div class="about-img">
    <img src="{% static 'images/bread-hero.jpg' %}" alt="smoked-dish-on-table">
</div>

<!-- --------reviews sections -->
<section class="review-section">
    <div class="review">
        <div class="review-img">
        </div>
        <div class="review-content">
        <h2>reviews </h2>
        <p class="review-p">See what out customer are saying, or if you have an account with us, please leave a review.
        </p>
        {% if user.is_authenticated %}
        <a href="add-item.html"><button>Add a review</button></a>
        {% else %}

        {% endif %} 

        <div class="crud">
            <table>
    {% for itemm in items %}
    <tr>
        <!-- <p style="text-transform: capitalize;">{{ user.username }} :  </p> -->
        <td>{{ user.username }} : {{ itemm.name }}</td>
        <td>
            {% if user.is_authenticated %}
            <a href="/edit/{{ itemm.id }}">
                <button>Edit</button>
            </a>
            {% else %}
    
            {% endif %} 
            
        </td>
        <td>
            {% if user.is_authenticated %}
            <a href="/delete/{{ itemm.id }}">
                <button>delete</button>
            </a>
        {% else %}

        {% endif %} 
           
        </td>
    </tr>
    {% empty %}
    <tr>
        <td>No reviews yet</td>
    </tr>
    {% endfor %}
</table>
        </div>
    </div>
</div>
</section>

<!-- --------team section -->
<section class="team-section">
    <div class="about-preview">
        <div class="about-content">
        <h2>meet the team</h2>
        <p>We value our team as much as we value our customers, they are after all who make this business run. at OBLIVIOUS we have an incrediblibly talented team.
            wwe believe in personal growth so we make sure each of our team member enjoy their work enviroment but also developing their career. </p>
    </div>
    </div>
    <div class="experience-container">
        <div class="menu-card">
            <div class="imgBx">
                <img src="{% static 'images/restauranteur.jpg' %}" alt="card-image">
            </div>
            <div class="card-content">
                <h3>Owner - Samantha Porter</h3>
                <p>founder and team leader. Samantha began her career as baker when she was only 12 years old. 
                    she worked in several bakeries and restaurants up until 2 years ago when she decided to open her own business along with her father James.</p>
            </div>
        </div>
        <div class="menu-card">
            <div class="imgBx">
                <img src="{% static 'images/executive-chef.jpg' %}" alt="card-image">
            </div>
            <div class="card-content">
                <h3>head baker - Eric Chen</h3>
                <p>Eric began his career early this year, he is one of the top chefs in dublin by simply doing what hi loves.</p>
            </div>
        </div>
        <div class="menu-card">
            <div class="imgBx">
                <img src="{% static 'images/marketing-manager.jpg' %}" alt="card-image">
            </div>
            <div class="card-content">
                <h3>marketing executive - Melisa copper</h3>
                <p>Melisa manages the marketing side of the business, as well as our social media accounts. she comes from doctors background but a few years ago she decided that markety is her strongest suit. and she's great at it!!!</p>
            </div>
        </div>
        <div class="menu-card">
            <div class="imgBx">
                <img src="{% static 'images/somelier.jpg' %}" alt="card-image">
            </div>
            <div class="card-content">
                <h3>general manager - Brenda mcCartie </h3>
                <p>Brenda originally started as a waitress here at OBLIVIOUS and slowly worked her way up to her position now. With a strong passion for football in her free time, she is ended an natural team leader</p>
            </div>
        </div>
        <div class="menu-card">
            <div class="imgBx">
                <img src="{% static 'images/sous-chef.jpg' %}" alt="card-image">
            </div>
            <div class="card-content">
                <h3> boulanger - damian ramirez</h3>
                <p>Damian moved to dublin when he was 12. Damian comes from a strong background in culinary arts, boulangerie being hes strongs skill.
                    "cooking is love made edible" </p>
            </div>
        </div>
        <div class="menu-card">
            <div class="imgBx">
                <img src="{% static 'images/pastry-chef.jpg' %}" alt="card-image">
            </div>
            <div class="card-content">
                <h3>executive pastry chef - vanessa lawless</h3>
                <p>"a party without a cake is just a meeting" - Julia child
                    Vanessa has recently moved back to dublin from Paris, her passion for food has definetly but on the spot we are now. 
                </p>
            </div>
        </div>
    </div>
</section>

<!-- --------footer -->
<footer>
    <div class="logo-footer">
        <img src="{% static 'images/oblivious-logo.jpg' %}" alt="image" class="logo-img" style="width: 138px;">
   </div>
    <div class="footer__container">
        <div class="footer__links">
            <div class="footer__link-wrap">
                <div class="footer__items">
                    <h2>contact us</h2>
                    <a href="/">emain: bakery@oblivious.ie</a>
                    <a href="/">phone: 012294334</a>
                    <a href="/">adress: 9 merrion street, dublin 2</a>
                    <a href="/">careers</a>
                    <a href="/">opening hours</a>
                    <a href="/">blog</a>
                </div>
                <div class="footer__items">
                    <h2>what we offer</h2>
                    <a href="cakes.html">cakes</a>
                    <a href="pies.html">pies</a>
                    <a href="donuts.html">donuts</a>
                </div>
                <div class="footer__items">
                    <h2>ready to place an order?</h2>
                    <a href="login.html">login</a>
                    <a href="signup.html">signup</a>
                    <a href="add-item.html">leave a review</a>
                </div>
            </div>
          
            </div>
        </div>
    
</footer>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="{% static 'javascript/main.js' %}"></script>

</body>
</html>
