<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet2" href="{% static 'css/colors.css' %}">
    <title>Login</title>
    
</head>
<body>
<!-- nav-bar -->
<!-- <div class="wrapper">
    <nav class="nav-bar">
        <div class="logo">
            <img src="{% static 'images/oblivious-logo.jpg' %}" alt="image" class="logo-img" style="width: 110px; height: 100%;">
        </div>
        <ul class="nav-items">
            <li><a href="index.html">home</a></li>
            <li><a href="menu.html">menu</a></li>
            <li><a href="login.html"> <i class="fa fa-user"></i></a></li>
            <li><a href="order-list.html"><i class="fa fa-basket-shopping"></i><span id="trolley">0</span></a></li>
        </ul>
    </nav>
</div> -->

  <!-- --------------------------navbar  -->
  <div class="navbar-area">
    <div class="nav-container">
      <nav class="site-navbar">
        <a href="index.html" class="site-logo"><img src="{% static 'images/oblivious-logo.jpg' %}" alt="image" class="logo-img" style="width: 110px; height: 100%;"></a>
        <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="menu.html">menu</a></li>
            <li><a href="signup.html">Signup</a></li>         
            <li><a href="login.html"><i class="fa fa-user"></i></a></li>
            <li><a href="order-list.html"><i class="fa fa-basket-shopping"></i><span id="trolley">0</span></a></li>
            <li class="logged-user">
                {% if user.is_authenticated %}
                
                    {{ user.username }}
                
                {% endif %} 
            </li>
            {% if user.is_authenticated %}
            <li><a href="logout.html"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
            {% else %}
            {% endif %} 
        </ul>
        <!-- nav-toggler for mobile version only -->
        <button class="nav-toggler">
          <span></span>
        </button>
      </nav>
    </div>
  </div>

 <div class="form-hero-section">
    <div class="form-hero-img">
        <img src="{% static 'images/bread-hero.jpg' %}" alt="bread image">
    </div>
 </div>
<section class="login-form-section nav-items">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-e"></div>
            <div class="col-md-6 p-5-login text-center form-blur">
                <h3>Login</h3>
                <p class="text-center">Don't have an account with us yet?</p>
                <li><a href="signup.html">Signup</a></li>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                       <input type="text" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                       <input type="password" name="password" placeholder="********">
                    </div>
                    <button type="submit" class="btn-info">Login</button>
                    {% if messages %}
                    <ul class="pt-2 text-center">
                        {% for msg in messages %}
                        <li>{{ msg }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</section>



 <!-- <script src="{% static 'javascript/orders.js' %}"></script> -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="{% static 'javascript/main.js' %}"></script>

</body>
</html>



