<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet2" href="{% static 'css/colors.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <title>{% block tittle %} {{ name }} {% endblock %}</title>
    
</head>
<body>
<!-- ----------------------------------nav-bar -->
<div class="wrapper">
    <nav class="nav-bar">
        <div class="logo">
            <img src="{% static 'images/oblivious-logo.jpg' %}" alt="image" class="logo-img" style="width: 110px; height: 100%;">
        </div>
        <ul class="nav-items">
            <li><a href="index.html">home</a></li>
            <li><a href="signup.html">Signup</a></li>
            <li><a href="login.html">login<i class="fa fa-user"></i></a></li>
            <li><a href="order-list.html">basket<i class="fa fa-basket-shopping"></i><span id="trolley">0</span></a></li>
            <li class="logged-user">
                {% if user.is_authenticated %}
                <p class="welcome-msg">
                    Welcome {{ user.username }}
                </p>
                {% endif %} 
            </li>
            {% if user.is_authenticated %}
            <li><a href="logout.html"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
            {% else %}
            {% endif %} 
        </ul>
    </nav>
</div>
<!-- ------------------menu section -->

<section>
    <div class="about-preview">
    <div class="about-content">
    <h2>about us</h2>
    <p class="about-p">lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dumm
        lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dumm
    </p>
</div>
</div>
    <div class="experience-container">
        <div class="menu-card">
            <div class="imgBx">
                <img src="{% static 'images/menu-cake.jpg' %}" alt="card-image">
            </div>
            <div class="card-content">
                <h3>our cakes</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ips,</p>
                <a href="cakes.html"><button>vews cakes</button></a>
            </div>
        </div>
        <div class="menu-card">
            <div class="imgBx">
                <img src="{% static 'images/menu-pie.jpg' %}" alt="card-image">
            </div>
            <div class="card-content">
                <h3>our pies</h3>
                <p>Lorem Ipsum is simplyorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                <a href="pie.html"><button>vews pies</button></a>
            </div>
        </div>
        <div class="menu-card">
            <div class="imgBx">
                <img src="{% static 'images/menu-donut.jpg' %}" alt="card-image">
            </div>
            <div class="card-content">
                <h3>our donuts</h3>
                <p>Lorem Ipsum is simply dummy orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem</p>
                <a href="donuts.html"><button>vews donuts</button></a>
            </div>
        </div>
       
    </div>
</section>




<!-- -------------------------footer -->
<footer>
    <div class="logo-footer">
        <img src="{% static 'images/oblivious-logo.jpg' %}" alt="image" class="logo-img" style="width: 138px;">
   </div>
    <div class="footer__container">
        <div class="footer__links">
            <div class="footer__link-wrap">
                <div class="footer__items">
                    <h2>About us</h2>
                    <a href="/">How it works</a>
                    <a href="/">Testimonials</a>
                    <a href="/">Careers</a>
                    <a href="/">Invesments</a>
                    <a href="/">Terms or service</a>
                </div>
                <div class="footer__items">
                    <h2>About us</h2>
                    <a href="/">How it works</a>
                    <a href="/">Testimonials</a>
                    <a href="/">Careers</a>
                    <a href="/">Invesments</a>
                    <a href="/">Terms or service</a>
                </div>
            </div>
            <div class="footer__link-wrap">
                <div class="footer__items">
                    <h2>About us</h2>
                    <a href="/">How it works</a>
                    <a href="/">Testimonials</a>
                    <a href="/">Careers</a>
                    <a href="/">Invesments</a>
                    <a href="/">Terms or service</a>
                </div>
                <div class="footer__items">
                    <h2>About us</h2>
                    <a href="/">How it works</a>
                    <a href="/">Testimonials</a>
                    <a href="/">Careers</a>
                    <a href="/">Invesments</a>
                    <a href="/">Terms or service</a>
                </div>
            </div>
        </div>
    </div>
</footer>





     
   

 <!-- <script src="{% static 'javascript/orders.js' %}"></script> -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="{% static 'javascript/main.js' %}"></script>

</body>
</html>
