<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet2" href="{% static 'css/colors.css' %}">
    <link rel="icon" sizes="100x100" type="image/x-icon" href="{% static 'images/oblivious-logo.jpg' %}">
    <title>{% block tittle %} {{ name }} {% endblock %}</title>
    
</head>
<body>
 <!-- --------------------------navbar  -->
 <div class="navbar-area">
    <div class="nav-container">
      <nav class="site-navbar">
        <a href="index.html" class="site-logo"><img src="{% static 'images/oblivious-logo.jpg' %}" alt="image" class="logo-img" style="width: 110px; height: 100%;"></a>
        <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="menu.html">menu</a></li>
            <li><a href="signup.html">Signup</a></li>         
            <li><a href="login.html"><i class="fa fa-user"></i>login</a></li>
            <li><a href="order-list.html"><i class="fa fa-basket-shopping"></i><span id="trolley">0</span></a></li>
            <li class="logged-user">
                {% if user.is_authenticated %}
                
                    {{ user.username }}
                
                {% endif %} 
            </li>
            {% if user.is_authenticated %}
            <li><a href="logout.html"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
            {% else %}
            {% endif %} 
        </ul>
        <!-- nav-toggler for mobile version only -->
        <button class="nav-toggler">
          <span></span>
        </button>
      </nav>
    </div>
  </div>
  
 <!-- <div class="hero-section">
    <div class="hero-img">
        <img src="{% static 'images/order-list-img.jpg' %}" alt="bread image 2" style="height: 10%;">
    </div>
 </div> -->
 
 <!-- ----------------------orders  -->
 
<div class="orders-container-fluid">
    {% if user.is_authenticated %}
    <h2 class="welcome-msg">
        Welcome {{ user.username }}
    </h2>
    {% endif %} 
    <div class="/row/">
        <div class="/col-md-7/ ">
            <h2>Orders</h2>
            <div class="/row/">
                <div class="colum" id="ord-name">
                    <h3>Name</h3>
                </div>
                <div class="/col-md-4/" >
                    <div class="colum" id="ord-size">
                    <h3>size</h3>
                </div>
                <div class="colum" id="ord-price">
                    <h3>price</h3>
                </div>
            </div>
            <h2 id="total-bill"> your order total:</h2>
        </div> 
        <!-- remove item button -->
        <div class="/col-md-1 btn-danger/" id="rm"></div>

        <!-- add a message section -->
        <div class="/col-md-4 mt-2/">
            <h2>please add a message to customize your order. </h2>
            <textarea name="message" id="message" cols="30" rows="8"></textarea>

            {% if user.is_authenticated %}
            <div class="/ml-auto m-4/">
                <button type="submit" class="submit-order-btn" onclick="order()"> Submit </button>
            </div>
            {% else %}
            <div class="nav-items">
                <li><a href="login.html" class="text-center">login</a></li>
            </div>
            {% endif %} 
        </div>
    </div>
</div>


 <!-- <script src="{% static 'javascript/orders.js' %}"></script> -->

 <!-- <script src="{% static 'javascript/order-list.js' %}"></script> -->
<!-- <script src="{% static 'javascript/main.js' %}"></script> -->
<script src="{% static 'javascript/shopping-cart.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

</body>
</html>




