<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet2" href="{% static 'css/colors.css' %}">
    <title>{% block tittle %} {{ name }} {% endblock %}</title>
    
</head>
<body>
<!-- nav-bar -->
<div class="wrapper">
    <nav class="nav-bar">
        <div class="logo">WELCOME TO {{ name }}
            <img src="{% static 'images/Donut-logo.png' %}" alt="image" class="logo-img" style="width: 95px; height: 95px;">
            <!-- <button class="navbar-toggler" type="button"><span  class="navbar-toggler-icon"></span></button> -->
            <div class="collaps navbar-collapse" id="mynav">
                <ul class="nav-items">
                    <li><a href="index.html">home</a></li>
                    <li><a href="pie.html">pies</a></li>
                    <li><a href="cakes.html">cakes</a></li>
                    <li><a href="donuts.html">donuts</a></li>
                    <li><a href="#"> <i class="fa fa-user"></i></a></li>
                    <li><a href="order-list.html"><i class="fa fa-basket-shopping"></i><span id="trolley">0</span></a></li>
                </ul>
            </div>
    </nav>
</div>
  
 <div class="hero-section">
    <div class="hero-img">
        <img src="{% static 'images/order-list-img.jpg' %}" alt="bread image 2" style="height: 10%;">
    </div>
 </div>
 
 <!-- ----------------------orders  -->
<div class="container-fluid m-4">
    <div class="row">
        <div class="col-md-7 text-center">
            <h2>Orders</h2>
            <div class="row">
                <div class="col-md-4" id="ord-name">
                    <h3>Name</h3>
                </div>
                <div class="col-md-4" >
                    <div class="col-md-4" id="ord-size">
                    <h3>size</h3>
                </div>
                <div class="col-md-6" id="ord-price">
                    <h3>price</h3>
                </div>
            </div>
            <h2 id="total-bill"> your oreder total:</h2>
        </div> 
        <!-- remove item button -->
        <button class="col-md-1 btn-danger" id="remove-item-order">Remove item</button>

        <!-- add a message section -->
        <div class="col-md-4 mt-2">
            <h2>please add a message to customize your order. </h2>
            <textarea name="message" id="message" cols="30" rows="8"></textarea>
            <div class="ml-auto m-4">
                <button type="submit" class="submit-order-btn" onclick="order()"> Submit </button>
            </div>
        </div>
    </div>
</div>


 <!-- <script src="{% static 'javascript/orders.js' %}"></script> -->

 <script src="{% static 'javascript/order-list.js' %}"></script>
<script src="{% static 'javascript/main.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

</body>
</html>




